<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Microservicos</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- Import vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<body id="page-top">
  <div id="app">

    <div class="container">
      <p>{% raw %}{{mensagem}}{% endraw %}</p>
      <div v-if="mostrarLoad">
        <img class="img-fluid mb-5 d-block mx-auto" src="/static/loading.gif" alt="">
      </div>
      <div v-if="mostrarForm" class="input-group mb-3">
        <div class="form-group">
          <input v-model="cpf" placeholder="Digite o CPF">
          <div class="form-group">
            <input v-model="nome" placeholder="Digite seu nome">
          </div>
          <div class="form-group">
            <select v-model="produto">
              <option disabled value="">Qual o produto</option>
              <option>AMPM</option>
              <option>COMBUSTIVEL</option>
              <option>JETOIL</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputValor">Digite o valor</label>
            <input id="inputValor" v-model="valor">
          </div>
          <button v-if="mostrarBotao" v-on:click="criarPedido">Criar pedido</button>
        </div>
      </div>
    </div>
    <!-- Fonte app -->
    <script type=text/javascript src="/static/app.js"></script>
  </div>
</body>

</html>